* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 85%;
  height: 85%;
  border: 1px solid black;
}

rect {
  fill: hsl(240, 90%, 55%);
}
rect:hover {
  fill: rgb(189, 192, 15);
}
